@import './navigation.scss';
@import './mainpage.scss';
@import './movie.scss';

.app {
  font-size: 16px;  
  .app-content {
    margin: 50px 0;
  }
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.flex-10 {
  min-width: 10%;
  max-width: 10%;
}

.flex-15 {
  min-width: 15%;
  max-width: 15%;
}

.flex-30 {
  min-width: 30%;
  max-width: 30%;
}

.flex-50 {
  min-width: 50%;
  max-width: 50%;
}

.flex-60 {
  min-width: 60%;
  max-width: 60%;
}

.flex-80 {
  min-width: 80%;
  max-width: 80%;
}

button {
  background: none;
  outline: none;
  border: none;
}

.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-center-center {
  justify-content: center;
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}
.align-content-space-around {
  align-content: space-around;
}
.align-content-start {
  align-content: start;
}
.align-content-end {
  align-content: end;
}
.align-content-center {
  align-content: center;
}
.align-content-center-center {
  justify-content: center;
  align-content: center;
}
.cursor {
  cursor: pointer;
}
.App-Content {
  margin-top: 80px;
}

table {
  border-spacing: 10px;
  border-collapse: separate;

  button {
    max-height: 30px;
    background: rgb(111, 134, 199);
    color: white;
    margin: 0 10px;
  } 
}

.navigation-btns {
  display: flex;
  margin-top: 50px;
}