.main-container {
    margin-top: 50px;
    
    .search {
        align-items: center;
        input {
            width: 400px;
            max-height: 30px;
        }
        button {
            max-height: 30px;
            background: rgb(111, 134, 199);
            color: white;
            margin: 0 10px;
        }
    }
}