.movie-container {
    height: 100%;
    justify-content: center;
    margin: 10px 0;
    width: 50%;
    p {
        margin: 0;
        vertical-align: middle;
        line-height: 40px;
        min-width: 60px;
    }
    button {
        background: rgb(111, 134, 199);
        color: white;
    }

}
.search {
    form {
        width: 50% ;
    }
}
.content {
    
}